<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Subscribe to our mailing list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <form method="POST">
                <% if (typeof message != 'undefined') { %>
                    <div class="notification <%= message.success ? 'is-info' : 'is-danger' %>">
                        <%= message.value %>
                      </div>
                <% } %>
                <div class="field">
                    <label class="label">Subscribe to our mailing list</label>
                    <p class="control has-icons-left">
                        <input class="input" type="text" name="email" placeholder="Email">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-success">
                            Subscribe
                        </button>
                    </p>
                </div>
            </form>
        </div>
    </section>
</body>

</html>